.vds-button {
  --media-button-size: 40px;
  --media-button-icon-size: 80%;
  width: var(--media-button-size);
}

.vds-icon {
  width: var(--media-button-icon-size);
}

.vds-button[data-paused] .pause-icon,
.vds-button:not([data-paused]) .play-icon {
  display: none;
}

.vds-controls {
  position: absolute;
  width: 100%;
  visibility: hidden;

  z-index: 10;
  opacity: 0;
  inset: 0;

  transition: var(--media-controls-out-transition, opacity 0.2s ease-out);
}

[data-media-player][data-hover] .vds-controls {
  opacity: 1;
  visibility: visible;
  transition: var(--media-controls-in-transition, opacity 0.2s ease-in);
}
